<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.0" name="org.jboss.gpse">
   <resources>
      <resource-root path="${project.name}-common.jar"/>
   </resources>

    <dependencies>
        <module name="javax.api" export="true" />
        <module name="javax.xml.bind.api" export="true" />
    </dependencies>
</module>

